In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
import requests
import lxml.html as lh
import pandas as pd

In [5]:
df = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1011037969')[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:

df.drop(df[ df['Borough'] == 'Not assigned' ].index, inplace=True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:

df[df['Neighbourhood'] == 'Not assigned' ]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [10]:
df.shape

(103, 3)