# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

### import libraries

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
import requests
import lxml.html as lh
import pandas as pd
import geocoder
import numpy as np 
import json 
from geopy.geocoders import Nominatim 
import requests 
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

### get the dataset

In [5]:
df = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1011037969')[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Cleaning the data, dropping "not assigned" in Borough

In [6]:

df.drop(df[ df['Borough'] == 'Not assigned' ].index, inplace=True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:

df[df['Neighbourhood'] == 'Not assigned' ]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

### geeting the shape

In [8]:
df.shape

(103, 3)

### downloadind coordinates data

In [9]:
url = 'https://cocl.us/Geospatial_data'
GC = pd.read_csv(url)
GC.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
df_2 = pd.merge(df, GC, how='left', on='Postal Code')
df_2.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494